:root,
[data-bs-theme="light"] {
  --bs-primary: #d48103;
  --bs-primary-rgb: 212, 129, 3;
  --bs-primary-text-emphasis: #553401;
  --bs-primary-bg-subtle: #f6e6cd;
  --bs-primary-border-subtle: #eecd9a;
  --bs-secondary: #a96703;
  --bs-secondary-rgb: 169, 103, 3;
  --bs-secondary-text-emphasis: #442901;
  --bs-secondary-bg-subtle: #eee1cd;
  --bs-secondary-border-subtle: #ddc29a;
  --bs-body-font-family: "Open Sans", sans-serif;
  --bs-link-color: #d48103;
  --bs-link-color-rgb: 212, 129, 3;
  --bs-link-hover-color: #a96703;
  --bs-link-hover-color-rgb: 169, 103, 3;
  --bs-border-color: #a96703;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d48103;
  --bs-btn-border-color: #d48103;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #da9429;
  --bs-btn-hover-border-color: #d88e1c;
  --bs-btn-focus-shadow-rgb: 32, 19, 0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #dd9a35;
  --bs-btn-active-border-color: #d88e1c;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d48103;
  --bs-btn-disabled-border-color: #d48103;
}

.btn-outline-primary {
  --bs-btn-color: #d48103;
  --bs-btn-border-color: #d48103;
  --bs-btn-focus-shadow-rgb: 212, 129, 3;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d48103;
  --bs-btn-hover-border-color: #d48103;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d48103;
  --bs-btn-active-border-color: #d48103;
  --bs-btn-disabled-color: #d48103;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d48103;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a96703;
  --bs-btn-border-color: #a96703;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #905803;
  --bs-btn-hover-border-color: #875202;
  --bs-btn-focus-shadow-rgb: 242, 232, 217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #875202;
  --bs-btn-active-border-color: #7f4d02;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a96703;
  --bs-btn-disabled-border-color: #a96703;
}

.btn-outline-secondary {
  --bs-btn-color: #a96703;
  --bs-btn-border-color: #a96703;
  --bs-btn-focus-shadow-rgb: 169, 103, 3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a96703;
  --bs-btn-hover-border-color: #a96703;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a96703;
  --bs-btn-active-border-color: #a96703;
  --bs-btn-disabled-color: #a96703;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a96703;
}

[data-bs-theme="dark"] {
  --bs-primary: #d48103;
  --bs-primary-rgb: 212, 129, 3;
  --bs-primary-text-emphasis: #e5b368;
  --bs-primary-bg-subtle: #2a1a01;
  --bs-primary-border-subtle: #7f4d02;
  --bs-secondary: #a96703;
  --bs-secondary-rgb: 169, 103, 3;
  --bs-secondary-text-emphasis: #cba468;
  --bs-secondary-bg-subtle: #221501;
  --bs-secondary-border-subtle: #653e02;
  --bs-body-font-family: "Open Sans", sans-serif;
}

[data-bs-theme="dark"] .btn-primary,
.btn-primary[data-bs-theme="dark"] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d48103;
  --bs-btn-border-color: #d48103;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #da9429;
  --bs-btn-hover-border-color: #d88e1c;
  --bs-btn-focus-shadow-rgb: 32, 19, 0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #dd9a35;
  --bs-btn-active-border-color: #d88e1c;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d48103;
  --bs-btn-disabled-border-color: #d48103;
}

[data-bs-theme="dark"] .btn-outline-primary,
.btn-outline-primary[data-bs-theme="dark"] {
  --bs-btn-color: #d48103;
  --bs-btn-border-color: #d48103;
  --bs-btn-focus-shadow-rgb: 212, 129, 3;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d48103;
  --bs-btn-hover-border-color: #d48103;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d48103;
  --bs-btn-active-border-color: #d48103;
  --bs-btn-disabled-color: #d48103;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d48103;
}

[data-bs-theme="dark"] .btn-secondary,
.btn-secondary[data-bs-theme="dark"] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a96703;
  --bs-btn-border-color: #a96703;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #905803;
  --bs-btn-hover-border-color: #875202;
  --bs-btn-focus-shadow-rgb: 242, 232, 217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #875202;
  --bs-btn-active-border-color: #7f4d02;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a96703;
  --bs-btn-disabled-border-color: #a96703;
}

[data-bs-theme="dark"] .btn-outline-secondary,
.btn-outline-secondary[data-bs-theme="dark"] {
  --bs-btn-color: #a96703;
  --bs-btn-border-color: #a96703;
  --bs-btn-focus-shadow-rgb: 169, 103, 3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a96703;
  --bs-btn-hover-border-color: #a96703;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a96703;
  --bs-btn-active-border-color: #a96703;
  --bs-btn-disabled-color: #a96703;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a96703;
}
